[submodule "ext/jsbsim"]
	path = ext/jsbsim
	url = https://github.com/JSBSim-Team/jsbsim.git
[submodule "ext/sdl"]
	path = ext/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/glslang"]
	path = ext/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "ext/spirv-cross"]
	path = ext/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
